{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "plugin:prettier/recommended",
    "eslint-config-prettier",
    "eslint:recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": "off",
    "no-console": "error"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  }
}
